{% extends 'student/base.html' %}
{% load static %}
{% block title %}Event Detail{% endblock %}
{% block content %}

        <div class="pad-container flex min-h-100 flex-column">
            <div class=" pt-3 pb-3">
                <a href="{% url 'student:event' %}" class="back-button large-text">
                    <i class="fa fa-arrow-left"></i>
                </a>
                
            </div>
            <div class="box">
                <header class="flex-end">
                    {% if object.attendies_needed %}
                    {% if object.ended %}
                    <a href="javascript:void(0)" class="site-button me-2">
                        <i class="fa fa-user"></i>&nbsp;Ended
                    </a>
                    {% else %}
                    {% if attending %}
                    <a href="javascript:void(0)" class="site-button me-2">
                        <i class="fa fa-user"></i>&nbsp;Attending
                    </a>
                    {% else %}
                    <a href="{% url 'student:event-attend' object.id %}" class="site-button me-2">
                        <i class="fa fa-user"></i>&nbsp;Attend
                    </a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </header>
                <h3>{{object.name}} </h3>
                <img src="{{object.image.url}}" alt="" class="img-fluid">
            
                    <h4>
                        Event description
                    </h4>
                    <p class="mb-2">
                        {{object.description}}
                    </p>
                <p>
                    Department: {{object.department|default:"All Department"}}
                </p>
                <footer class="flex-between small-text">
                    <p>Start</p>
                    <span>
                        <span><i class="fa fa-clock"></i> {{ object.starttime }}</span>&nbsp;&nbsp;
                        <span><i class="fa fa-calendar-alt"></i> {{ object.startdate }}</span>
                    </span>
                </footer>
                <footer class="flex-between small-text">
                    <p>End</p>
                    <span>
                        <span><i class="fa fa-clock"></i> {{ object.endtime }}</span>&nbsp;&nbsp;
                        <span><i class="fa fa-calendar-alt"></i> {{ object.enddate }}</span>
                    </span>
                </footer>
                {% if attendies_needed %}
                <h4>All Attendees</h4>
                <ul class="list-group list-group-flush">
                    {% for user in  attendees %}
                        <li class="list-group-item"><a href="{% url 'student-details' user.id %}"></a>{{user}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
{% endblock %}