{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
      <div class="middle">
        <h1>
          Learning Center For<br />
          Your Kids
        </h1>
        <p>
         A Wonderful environnment for your kids to be educated properly and appropraitely which would help them grow to the best potential they can acheive as kids.
        </p>
        <a href="#pricing"> Explore Now </a>
      </div>
      <!-- <div class="offer">
          <div class="offer_what">
                  <h2 class="h2">What We Offer</h2>
                  <div class="underline"></div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</br> Molestiae sequi maiores suscipit alias, exercitationem iusto assumenda velit explicabo quaerat ipsa!</p>
          </div> -->
      <div class="offer">
        <div class="offer_what">
          <h2 class="h2">What We Offer</h2>
          <div class="underline"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />
            Molestiae sequi maiores suscipit alias, exercitationem iusto
            assumenda velit explicabo quaerat ipsa!
          </p>
        </div>
        <div class="offers">
          <div class="offer_one">
            <i class="fas fa-book"></i>
            <h3>Heading</h3>

            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
          <div class="offer_two">
            <i class="fas fa-book"></i>
            <h3>Heading</h3>

            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
          <div class="offer_three">
            <i class="fas fa-book"></i>
            <h3>Heading</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
          <div class="offer_four">
            <i class="fas fa-graduation-cap"></i>
            <h3>Heading</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
          <div class="offer_five">
            <i class="fas fa-book"></i>
            <h3>Heading</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
          <div class="offer_six">
            <i class="fas fa-clock"></i>
            <h3>Heading</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing <br />elit.
              Iure, et fugit.<br />
              Accusantium ipsam accusamus illo vero harum iusto nobis doloribus.
            </p>
          </div>
        </div>
      </div>
      <div class="middle-bottom">
        <h1>Education for Tomorrows Sheiks</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut modi
          <br />
          quibusdam delectus impedit doloribus error quasi. Fugiat facilis natus
          assumenda?
        </p>
        <div class="enrol">
          <a href="#">ENROLL NOW</a>
        </div>
      </div>
      <div id="pricing" class="pricing">
        <h1>Pricing</h1>
        <p>
          Here are the Prices for the school and their curriculum for each class
        </p>
        <div class="pricing_prices">
          <div class="pricing_prices-one">
            <h3>JSS 1</h3>
            <p>
              <ul>
                <li>Mathematics</li>
                <li>English</li>
                <li>Basic Science</li>
                <li>Basic Technology</li>
                <li>Agricultural science</li>
                <li>French</li>
                <li>Nigerian Languages (Igbo, Hausa, Yoruba)</li>
                <li>Home Economics</li>
                <li>C.R.K , I.R.K</li>
              </ul>
            </p>
            <div class="span_class">
              <span>#100000</span><small>/term</small>
            </div>
            <div class="getStarted">
              <a>GET STARTED </a>
            </div>
          </div>
          <div class="pricing_prices-one">
            <h3>JSS 2</h3>
           
              <ul>
                <li>Mathematics</li>
                <li>English</li>
                <li>Basic Science</li>
                <li>Basic Technology</li>
                <li>Agricultural science</li>
                <li>French</li>
                <li>Nigerian Languages (Igbo, Hausa, Yoruba)</li>
                <li>Home Economics</li>
                <li>C.R.K , I.R.K</li>
              </ul>
            <div class="span_class">
              <span>#110000</span><small>/term</small>
            </div>
            <div class="getStarted">
              <a>GET STARTED </a>
            </div>
          </div>
          <div class="pricing_prices-one">
            <h3>JSS 3</h3>
            <p>
              <ul>
                <li>Mathematics</li>
                <li>English</li>
                <li>Basic Science</li>
                <li>Basic Technology</li>
                <li>Agricultural science</li>
                <li>French</li>
                <li>Nigerian Languages (Igbo, Hausa, Yoruba)</li>
                <li>Home Economics</li>
                <li>C.R.K , I.R.K</li>
              </ul>
            </p>
            <div class="span_class">
              <span>#110000</span><small>/term</small>
            </div>
            <div class="getStarted">
              <a>GET STARTED </a>
            </div>
          </div>
          <div class="pricing_prices-one">
            <h3>SSS 1</h3>
            <p>
              <ul>
                <li>Mathematics</li>
                <li>English</li>
                <li>Chemistry</li>
                <li>Physics</li>
                <li>Agricultural science</li>
                <li>Economics</li>
                <li>French</li>
                <li>Health Science</li>
                <li>Further Mathematics</li>
                <li>Commerce</li>
                <li>Literature</li>
                <li>Finance</li>
                <li>Food and Nutritions</li>
                <li>Geography</li>
                <li>Computer Studies</li>
                <li>Civic Education</li>
                <li>Trade (Fisheries,Crafts and arts,Marketing)</li>
              </ul>
            </p>
            <div class="span_class">
              <span>#120000</span><small>/term</small>
            </div>
            <div class="getStarted">
              <a>GET STARTED </a>
            </div>
          </div>
          <div class="pricing_prices-one">
            <h3>SSS 2</h3>
            <p>
              <ul>
                <li>Mathematics</li>
                <li>English</li>
                <li>Chemistry</li>
                <li>Physics</li>
                <li>Agricultural science</li>
                <li>Economics</li>
                <li>French</li>
                <li>Health Science</li>
                <li>Further Mathematics</li>
                <li>Commerce</li>
                <li>Literature</li>
                <li>Finance</li>
                <li>Food and Nutritions</li>
                <li>Geography</li>
                <li>Computer Studies</li>
                <li>Civic Education</li>
                <li>Trade (Fisheries,Crafts and arts,Marketing)</li>
              </ul>
            </p>
            <div class="span_class">
              <span>#125000</span><small>/term</small>
            </div>
            <div class="getStarted">
              <a>GET STARTED </a>
            </div>
          </div>
          <div class="pricing_prices-one">
            <h3>SSS 1</h3>
            <p>
              <ul>
                <li>Mathematics</li>
                <li>English</li>
                <li>Chemistry</li>
                <li>Physics</li>
                <li>Agricultural science</li>
                <li>Economics</li>
                <li>French</li>
                <li>Health Science</li>
                <li>Further Mathematics</li>
                <li>Commerce</li>
                <li>Literature</li>
                <li>Finance</li>
                <li>Food and Nutritions</li>
                <li>Geography</li>
                <li>Computer Studies</li>
                <li>Civic Education</li>
                <li>Trade (Fisheries,Crafts and arts,Marketing)</li>
              </ul>
            </p>
            <div class="span_class">
              <span>#130000</span><small>/term</small>
            </div>
            <div class="getStarted">
              <a>GET STARTED </a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}