{% extends 'admins/base.html' %}
{% load path_checker %}
{% block title %} Add Course {% endblock %}
{% block content %}  
  <div >
  <a href="{% url 'admins:course-reg-details' course_id %}" class="back-button large-text">
      <i class="fas fa-arrow-left"></i>
  </a>
  </div>
        <div class="pad-container pt-4">
          <div class="pt-4">
            <h2 class="header flex-center">Add Course</h2>
          </div>
          
        <div class="flex-center page-box">
            <div class="large-form-box">
                <div class="form-header">
                    Fill the Form
                </div>
                <form action="" method="POST" class="mb-4">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                      <label for="">Add Course*</label>
                        <select name="course_id" id="" class="form-control" style="padding-left: 4px;" >
                            <option value="">Select a Course*</option>
                            {% for x in dept_course %}
                              <option  value="{{x.id}}">{{x.course}}</option>
                          {% endfor %}
                        </select>                        
                 
                    </div>
                    <div class="form-group flex-center">
                        <button class="site-button">
                            <i class="fas fa-plus"></i>&nbsp;Add COurse
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}