{% extends 'admins/base.html' %}
{% load static %}
{% block title %} Faculty Details {% endblock %}
{% block content %}
        <div class="content-nav">
          <h2 class="greetings">Faculty of {{object.name}}</h2>
          <!-- nav btn -->
          <div class="nav-link-add">
            <a href="{% url 'admins:department-add' object.id %}" class="nav-icon-save">Add Department</a>
            <a href="{% url 'admins:faculty-edit' object.pk %}" class="nav-icon-cancel">Edit Faculty</a>
          </div>
          <a href="{% url 'admins:faculty-delete' object.pk %}" title="Delete Faculty" class="content-nav-link">
            <span class="nav-icon">
              <i class="fas fa-trash"></i>
            </span>
          </a>
        </div>
        <div>
          <ul>
            <li><strong>Officer:</strong> {{object.officer}}</li>
          </ul>
        </div>
        <!-- content features -->
        <div class="box table-box">
        {% if object.department_set.all %}
          <table class="style-table">
            <caption style="text-align:right;">{{object.department_set.count}} Departments</caption>
            <thead>
              <tr>
                <th>Department</th>
                <th>No of Students</th>
                <th>No of Staff</th>
                <th>HOD</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object.department_set.all %}
                        <tr>
                              <td>
                                  <a href="{% url 'admins:department-details' object.id %}" class="table-link">
                                      
                                      {{object.name}}
                                  </a>
                                  
                              </td>
                              <td>
                                  {{object.student_set.count}}
                              </td>
                              <td>
                                {{object.staff_set.count}}
                              </td>
                              <td>
                                  {{object.head_of_department}}
                              </td>
              
                          </tr>
              {% endfor %}
              
            </tbody>
          </table>
        {% else %}
        <div class="no-item">
          <p>No Faculty</p>
        </div>
        {% endif%}
        </div>

        
{% endblock %}
