{% extends 'admins/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
        <div class="content-nav">
          <h2 class="greetings">
            Good Day, <span class="admin-name">Joshua Kay</span>
          </h2>
          <a href="#" class="content-nav-link">
            <span class="nav-icon">
              <i class="fas fa-bell"></i>
            </span>
          </a>
        </div>

        <!-- content features -->

        <div class="content-items">
          <!-- staff -->
          <div class="content-staff">
            <h1 class="content-heading">Staffs</h1>
            <p class="content-value">{{staff_no}}</p>
          </div>
          <!-- Students -->
          <div class="content-student">
            <h1 class="content-heading">Students</h1>
            <p class="content-value">{{student_no}}</p>
          </div>
          <!-- Students -->
          <div class="content-programme">
            <h1 class="content-heading">Faculties</h1>
            <p class="content-value">{{faculties_no}}</p>
          </div>
          <!-- Classes-->
          <div class="content-classes">
            <h1 class="content-heading">Departments</h1>
            <p class="content-value">{{departments_no}}</p>
          </div>
          <!-- finance-->
          <!-- <div class="content-finance">
            <h1 class="content-heading">Events</h1>
            <p class="content-value">{{event_no}}</p>
          </div> -->
         
        </div>
{% endblock %}
{% block extrascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}