{% extends 'admins/base.html' %}
{% load static %}
{% block title %} Staffs {% endblock %}
{% block content %}
      <div class="content-nav">
        <h2 class="greetings">Staffs</h2>
        <a href="{% url 'admins:staff-add' %}" class="content-nav-link">
          <span class="nav-icon">
            <i class="fas fa-user-plus"></i>
          </span>
        </a>
      </div>
      <!-- content features -->
      <div class="staff-items">
        <!-- staff -->
        <div class="search-filter">
          <form action="" method="GET">
          <!-- searchbar -->
          <div class="row">
            <div class="col-md-4">
            <div class="searchbar">
              <input
              type="search"
              name="search"
              id="search"
              class="search"
              placeholder="Search Staff Name"
              style="width: 100%;"
              />
            </div>
            </div>
            <div class="col-md-8">
              <div class="filter">
                <div class="class-filter">
                  <select name="faculty" id="" class="filter-items">
                    <option value="">Faculty</option>
                    {% for x in faculties %}
                        <option value="{{x.id}}">{{x.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <!-- subject filter -->
                <div class="subject-filter">
                  <select name="department"  class="filter-items">
                    <option value="">Department</option>
                    {% for x in departments %}
                        <option value="{{x.id}}">{{x.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <!-- subject filter -->
                <div class="subject-filter">
                  <select name="sex" id="filter-two" class="filter-items">
                    <option value="">Sex</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                </div>
                <div class="subject-filter"  >
                  <input type="submit" value="Filter" class="filter-button">
                </div>
              </div>
            </div>
          </div>
        </form>
        </div>
      </div>
      <!-- table data -->
      <div class="box table-box">
        <table class="style-table">
          <caption style="text-align:right;">{{object_list|length}} Staffs</caption>
          <thead>
            <tr>
              <th>Staff Name</th>
              <th>Sex</th>
              <th>Email</th>
              <th>Department</th>
            </tr>
          </thead>
          {% if page_obj%}
          <tbody>
            {% for object in page_obj %}
                      <tr>
                          <td>
                                <a href="{% url 'admins:staff-details' object.id %}" class="table-link">
                                {% if object.image %}
                                    <img src="{{ object.image.url}}"  class="table-image" >
                                {% else %}
                                  {% if object.sex == 'M'%}
                                      <img src="{% static 'staff/images/male-placeholder.png' %}"  class="table-image">
                                  {% else %}
                                      <img src="{% static 'staff/images/female-placeholder.png' %}"  class="table-image">
                                  {% endif %}
                                {% endif %}
                                    
                                    {{object.firstname}} {{object.lastname}}
                                </a>
                                
                            </td>
                            <td>
                                {{object.get_sex_display}}
                            </td>
                            <td>
                                {{object.user.email}}
                            </td>
                            <td>
                              {{object.department}}
                            </td>
                        </tr>
            {% endfor %}
            
          </tbody>
        </table>
        <div class="flex-center">
          <ul class="paginator">
              {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" ><span>&laquo;</span></a></li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true"><span>&laquo;</span></a></li>
              {% endif %}
              
              {% for pagenum in page_obj.paginator.page_range %}
              {% if page_obj.number == pagenum %}
                  <li class="page-item{% if page_obj.number == pagenum %} active{% endif %}">
                      <a class="page-link" href="?page={{pagenum}}">{{pagenum}}</a>
                  </li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}"><span>&raquo;</span></a></li>
              {% else %}
                  <li class="page-item disabled"><a class="page-link" href="#" ><span>&raquo;</span></a></li>
              {% endif %}
          </ul>
      </div>
      {% else %}
      <div class="no-item">
        <p>No Staff</p>
      </div>
      {% endif%}
      </div>
{% endblock %}
{% block extrascript %}
<!-- <script>
  var form = document.getElementById('filter-form')
  var filterItems = document.getElementsByClassName('filter-items')
  for(var items of filterItems){
    items.onchange = function(){
      form.submit()
    }
  }
</script> -->
{% endblock %}